<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <h3> The Latest Mars News: </h3>
    <p class="news"> {{mars.news_title}}</p>
    <p class="news"> {{mars.news_paragraph}}</p>
    <br>
    <br>
    <h3 class="weather"> Current Weather on Mars: </h3>
    <p class="weather"> {{mars.mars_weather}}</p>
    <br>
    <br>
    <h3 class="table"> Mars Facts:</h3>
    <section> {{ mars table here  }} </section>
    <br>
    <br>
    <h3 class="image"> Featured Mars Image </h3>
    <img src="{{mars.mars_image}}" alt="Image of Planet Mars">
    <br>
  </div>
</body>

</html>
